<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssf.mapper.GenericMapper">

        <insert id="insertData" parameterType="com.cssf.pojo.GenericBean">
            insert into iotdb.generic(name,datakey,datavalue,revtime) values (#{name},#{dataKey},#{dataValue},#{revtime})
        </insert>
        <delete id="deleteTempById">
            delete from iotdb.generic where id = #{id}
        </delete>
        <update id="updateTemp" parameterType="com.cssf.pojo.GenericBean">
            update iotdb.test set name = #{name},datakey=#{dataKey},datavalue=#{dataValue},revtime=#{revtime}
        </update>

        <select id="queryAllTemp" resultType="com.cssf.pojo.GenericBean">
            select * from iotdb.generic where datakey = "temperature" order by id desc
        </select>
        <select id="queryRtimeTemp1" resultType="com.cssf.pojo.GenericBean">
            select * from iotdb.generic where datakey = "temperature" and name = "lsjjj" order by id desc limit 1
        </select>
    <select id="queryRtimeTemp2" resultType="com.cssf.pojo.GenericBean">
        select * from iotdb.generic where datakey = "temperature" and name = "lsjjj" order by id desc limit 1
    </select>
        <select id="queryByTimeTemp" resultType="com.cssf.pojo.GenericBean">
            select * from iotdb.generic where datakey = "temperature" and name = "HAHAHA" AND revtime between #{beginTime} and #{endTime} order by id desc
        </select>

    <select id="queryAllHum" resultType="com.cssf.pojo.GenericBean">
        select * from iotdb.generic where datakey = "humidity" order by id desc
    </select>
    <select id="queryRtimeHum1" resultType="com.cssf.pojo.GenericBean">
        select * from iotdb.generic where datakey = "humidity" AND name = "lsjjj" order by id desc limit 1
    </select>
    <select id="queryRtimeHum2" resultType="com.cssf.pojo.GenericBean">
        select * from iotdb.generic where datakey = "humidity" AND name = "HAHAHA" order by id desc limit 1
    </select>
    <select id="queryByTimeHum" resultType="com.cssf.pojo.GenericBean">
        select * from iotdb.generic where datakey = "humidity" AND revtime between #{beginTime} and #{endTime} order by id desc
    </select>

    <select id="queryRtimeJing2" resultType="com.cssf.pojo.GenericBean">
        select * from iotdb.generic where datakey = "jing" and name = "HAHAHA" order by id desc limit 1
    </select>
    <select id="queryRtimeJing1" resultType="com.cssf.pojo.GenericBean">
        select * from iotdb.generic where datakey = "jing" AND name = "lsjjj" order by id desc limit 1
    </select>



    <select id="queryRtimeTemp" resultType="com.cssf.pojo.GenericBean" parameterType="com.cssf.pojo.QueryCondition">
        select * from iotdb.generic where datakey = "temperature" ${equp} order by id desc limit 1
    </select>
    <select id="queryRtimeHum" resultType="com.cssf.pojo.GenericBean" parameterType="com.cssf.pojo.QueryCondition">
        select * from iotdb.generic where datakey = "humidity" ${equp} order by id desc limit 1
    </select>
    <select id="querySensor" resultType="com.cssf.pojo.GenericBean" parameterType="com.cssf.pojo.QueryCondition">
        select * from iotdb.generic where ${equp} order by id desc
    </select>
</mapper>
